<tr>
  <th>
    <%= _('Hostname') %>
  </th>
  <th>
    <%= _('Last Report') %>
  </th>
</tr>
<% list.each do |host| %>
  <tr>
    <%= render 'link_to_host', :host => host %>
    <% if host.last_report %>
      <td class="hosts-rows">
        <%= time_ago_in_words(host.last_report) %>
      </td>
    <% else %>
      <td class="hosts-rows">
        <%= _('Unknown') %>
      </td>
    <% end %>
  </tr>
<% end %>
